# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Generated scripts
scripts/*.py

# File uploads
uploads/

# OS
.DS_Store
Thumbs.db
